header, main, footer {
    min-width: 855px;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}
header {
    overflow: auto;
}
header .container {
    height: 200px;
}
header .container h1 {
    float: left;
    width: 568px;
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    height: 100px;
}
header .container .signedOut a {
    float: right;
    width: 283px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: 1px solid red;
    text-decoration: none;
    height: 100px;
}
header .container .signedOut a p {
    margin-top: 40px;
}